body {
       background-color: #F4EEFF;
    }

hr {
    border: dotted #424874 6px;
    width: 4%;
    border-bottom: none;

    }

h3 {
    color: #424874;

}

h1 {
    color: #424874;

}

